.section {
  margin-top: 59px;
}

.slide {
  margin-top: 58px;
}

.slider {
  height: 45%;
  margin-top: 4%;
  margin-left: 1px;
  padding-top: 4%;
  padding-left: 3%;
}

.body {
  height: 600px;
}

.image {
  margin-left: 7%;
}

.image-2 {
  width: 13%;
  height: 73%;
  margin-left: 9%;
}

.section-2 {
  height: 120%;
  margin-top: 4%;
  padding-left: 3%;
  clear: both;
  background-color: #199af1;
}

.heading {
  padding-left: 0px;
  float: none;
  clear: both;
  color: #fff;
}

.text-block {
  float: left;
}

.text-block-2 {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph {
  margin-right: 5%;
  margin-left: 5%;
}

.image-3 {
  margin-top: 10px;
  margin-bottom: 11px;
}

.slide-template {
  background-image: -webkit-linear-gradient(270deg, #990a0a, #990a0a);
  background-image: linear-gradient(180deg, #990a0a, #990a0a);
}

.image-4 {
  margin-top: 3px;
  margin-bottom: 3%;
}

.nav-link {
  margin-top: 3%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.image-5 {
  width: 15%;
  height: 70%;
  margin-top: 8%;
  margin-bottom: 1%;
  margin-left: 15%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-6 {
  width: 12%;
  height: 73%;
  margin-top: 3%;
  margin-left: 10%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 3px solid #e53935;
}

.container {
  padding-right: 0px;
}

.section-3 {
  margin-top: 2%;
  margin-bottom: 4%;
  padding-top: 2%;
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.navbar {
  position: fixed;
  width: 100%;
  margin-top: -111px;
  margin-bottom: 3%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 1px 1px 3px -3px #000;
}

.slider-2 {
  bottom: 1px;
  display: block;
  height: 400px;
}

.heading-2 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.button {
  margin-left: 42%;
}

.container-2 {
  background-image: -webkit-linear-gradient(270deg, #4286f5, #4286f5);
  background-image: linear-gradient(180deg, #4286f5, #4286f5);
}

.heading-3 {
  margin-left: 12%;
  padding-top: 2%;
  padding-left: 10%;
  clear: right;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 700;
}

.paragraph-2 {
  margin-left: 12%;
  padding-left: 10%;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 100;
}

.section-4 {
  background-image: -webkit-linear-gradient(270deg, #4286f5, #4286f5);
  background-image: linear-gradient(180deg, #4286f5, #4286f5);
}

.image-7 {
  margin-right: -95px;
  margin-left: -95px;
}

.container-3 {
  padding-left: 0px;
}

.button-2 {
  display: block;
  margin: 7px auto 5px;
  padding-left: 299px;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.button-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container-4 {
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.section-5 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .07), rgba(0, 0, 0, .07));
  background-image: linear-gradient(180deg, #fafafa, #fafafa), linear-gradient(180deg, rgba(0, 0, 0, .07), rgba(0, 0, 0, .07));
}

.body-2 {
  overflow: hidden;
  margin-top: 35px;
  background-image: url('../images/Asset_94x.png'), -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: url('../images/Asset_94x.png'), linear-gradient(180deg, #fafafa, #fafafa);
  background-position: 50% 29%, 0px 0px;
  background-size: 50%, auto;
  background-repeat: no-repeat, repeat;
}

.image-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-block-3 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-6 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.section-7 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 47%;
  padding-left: 47%;
}

.paragraph-3 {
  font-weight: 700;
}

.paragraph-4 {
  margin-top: -12px;
}

.paragraph-5 {
  color: red;
}

.container-5 {
  padding-right: 197px;
  padding-bottom: 0px;
  padding-left: 218px;
}

.paragraph-6 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}

.link {
  display: block;
  margin-top: -14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
}

.column {
  padding-left: 256px;
}

.button-4 {
  width: 100%;
  margin-top: 25%;
  margin-right: 27px;
  margin-left: 1px;
  padding-right: 170px;
  padding-left: 170px;
  text-align: center;
}

.row {
  margin-top: 125px;
  margin-right: 10%;
  margin-left: 8%;
}

.image-9 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.paragraph-7 {
  margin-bottom: 0px;
  text-align: center;
}

.button-5 {
  display: block;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  text-align: center;
}

.heading-4 {
  margin-top: 0px;
  margin-right: 8%;
  margin-left: 23%;
  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 0%, 50%, .07);
}

.form {
  margin-top: 11px;
  margin-right: 21%;
  padding-top: 0px;
}

.field-label {
  display: inline;
  margin-left: 1%;
}

.container-6 {
  margin-bottom: 1%;
}

.section-8 {
  padding-top: 326px;
  background-image: url('../images/login.svg');
  background-position: 50% 50%;
  background-size: 836px;
  background-repeat: no-repeat;
}

.row-2 {
  margin-left: -8px;
}

.text-field {
  margin-top: 2%;
  margin-right: 0%;
  margin-left: 2%;
}

.text-field-2 {
  margin-right: 2%;
  margin-left: 2%;
}

.field-label-2 {
  margin-left: 11px;
}

.button-6 {
  margin-top: 14px;
  margin-right: 192px;
  margin-left: 30%;
  padding-right: 115px;
  padding-left: 115px;
}

.paragraph-8 {
  display: inline;
}

.bold-text {
  display: inline-block;
  margin-left: 0%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.field-label-3 {
  margin-top: 1%;
}

.field-label-4 {
  margin-top: 1%;
}

.field-label-5 {
  display: inline;
  margin-top: 1%;
}

.section-9 {
  padding-top: 75%;
}

.field-label-6 {
  margin-right: 52px;
  margin-left: 448px;
  padding-top: 331px;
  padding-right: 0px;
}

.text-field-3 {
  margin-right: 27px;
  margin-left: 444px;
  padding-right: 0px;
  padding-left: 0px;
}

.field-label-7 {
  margin-left: 32%;
}

.text-field-4 {
  margin-right: 471px;
  margin-left: 449px;
  padding-right: 0px;
  padding-left: 0px;
}

.form-2 {
  margin-top: 339px;
}

.container-7 {
  padding-right: 15.2%;
  padding-left: 15.2%;
}

.submit-button-2 {
  display: block;
  margin-right: -2px;
  margin-left: 0px;
  padding-right: 39.5%;
  padding-left: 53%;
}

.link-2 {
  display: block;
  margin-left: 10%;
  text-align: center;
}

.section-10 {
  background-image: -webkit-linear-gradient(270deg, rgba(228, 7, 7, .5), rgba(228, 7, 7, .5));
  background-image: linear-gradient(180deg, rgba(228, 7, 7, .5), rgba(228, 7, 7, .5));
}

.body-3 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.container-8 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.body-4 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.navbar-2 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.navbar-3 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.body-5 {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.html-embed {
  margin-top: 106px;
}

.html-embed-2 {
  margin-right: 28px;
  margin-left: 41%;
  padding-left: 0px;
}

.html-embed-3 {
  display: block;
  margin-right: auto;
  margin-left: 45%;
}

.button-7 {
  margin-left: 39%;
}

.navbar-4 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.navbar-5 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.container-9 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.nav-link-2 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.navbar-6 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-5 {
  margin-top: -19px;
  margin-left: 23%;
  font-size: 14px;
  font-weight: 400;
}

.heading-6 {
  margin-left: 23%;
}

.image-10 {
  display: inline;
}

.paragraph-9 {
  display: inline;
  padding-left: 6px;
  font-weight: 700;
}

.section-11 {
  margin-left: 23%;
  padding-right: 23%;
}

.row-3 {
  margin-left: -1%;
}

.accountlabel {
  margin-top: 1%;
}

.row-4 {
  margin-left: -8px;
}

.text-field-5 {
  margin-left: 2%;
}

.text-field-6 {
  margin-left: 2%;
}

.field-label-8 {
  margin-left: 2%;
}

.field-label-9 {
  margin-left: 2%;
}

.html-embed-4 {
  margin-left: 45%;
}

.section-12 {
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 50%, .13);
}

.button-8 {
  margin-left: 47%;
}

.paragraph-10 {
  margin-top: 49px;
  margin-left: 23%;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 200;
}

.button-9 {
  margin-left: 40%;
  padding-right: 43px;
  padding-left: 43px;
}

.button-10 {
  margin-top: 2%;
  margin-left: 35%;
}

.submit-button-3 {
  width: 100%;
  margin-top: 0%;
}

.submit-button-4 {
  width: 100%;
  padding-right: 44px;
  padding-left: 44px;
}

.submit-button-5 {
  width: 100%;
}

.paragraph-11 {
  color: red;
  text-align: center;
}

.text-field-7 {
  border: 1px solid red;
}

.text-field-8 {
  border: 1px solid red;
}

.div-block {
  overflow: hidden;
}

.form-block {
  margin-top: 20px;
  float: right;
}

.submit-button-6 {
  overflow: visible;
  margin-top: -7px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 23px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 100%, 92%, 0), hsla(0, 100%, 92%, 0));
  background-image: linear-gradient(180deg, hsla(0, 100%, 92%, 0), hsla(0, 100%, 92%, 0));
  color: #000;
}

.submit-button-7 {
  margin-top: 2px;
  float: right;
  background-color: #fff;
  color: #000;
}

.form-3 {
  float: right;
}

.form-block-2 {
  margin-top: 20px;
  float: right;
}

.paragraph-12 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #00d100;
  text-align: center;
}

.bold-text-2 {
  margin-left: 1%;
}

.bold-text-3 {
  margin-left: 1%;
}

.bold-text-4 {
  margin-left: 1%;
}

.bold-text-5 {
  margin-left: 1%;
}

.button-11 {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.button-12 {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.submit-button-8 {
  margin-top: 22px;
  margin-left: 38%;
  background-color: #fafafa;
  color: red;
}

.submit-button-9 {
  margin-left: 37%;
  background-color: #fafafa;
  color: red;
}

.text-block-4 {
  color: red;
  text-align: center;
}

.navbar-7 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-7 {
  color: #000;
}

.heading-8 {
  margin-top: -3.1%;
  margin-left: 8%;
  padding-top: 0px;
  color: #990a0a;
}

.image-11 {
  width: 12%;
  height: 73%;
  margin-top: 3%;
  margin-left: 10%;
  border: 3px solid #e53935;
}

.slider-3 {
  overflow: visible;
  height: 400px;
  clear: both;
  background-image: -webkit-linear-gradient(270deg, #990a0a, #990a0a);
  background-image: linear-gradient(180deg, #990a0a, #990a0a);
}

.text-block-5 {
  display: inline;
}

.genre {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 44px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #4286f5;
}

.button-13 {
  width: 12%;
  margin-top: 12px;
  margin-left: 168px;
  text-align: center;
}

.button-14 {
  display: block;
  width: 100%;
  margin-top: 2%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-align: center;
}

.bold-text-6 {
  margin-left: 1%;
}

.paragraph-13 {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: -52%;
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

.image-12 {
  width: 50%;
  height: 30%;
  margin-top: 1%;
  margin-left: -2%;
}

.image-13 {
  width: 25%;
  height: 3%;
}

.text-block-6 {
  display: inline-block;
  margin-top: -125px;
}

.block-quote {
  display: inline;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 74px;
}

.bold-text-7 {
  margin-left: -52%;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
}

.paragraph-14 {
  margin-left: -23px;
}

.paragraph-15 {
  position: relative;
  display: block;
  width: 30%;
  margin-top: 45px;
  margin-left: -52%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.paragraph-16 {
  position: relative;
  left: 287px;
  top: 93%;
  right: -11px;
  bottom: 30px;
  width: 15%;
  font-size: 15px;
}

.paragraph-17 {
  position: relative;
  left: 348px;
  top: -80px;
  bottom: 84px;
  font-size: 14px;
}

.column-2 {
  font-size: 10px;
}

.paragraph-18 {
  position: relative;
  left: -188px;
  top: -92px;
  margin-left: -40px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.paragraph-19 {
  position: relative;
  left: 202px;
  top: -122px;
  font-size: 15px;
}

.paragraph-20 {
  position: relative;
  top: 6px;
}

.paragraph-21 {
  position: relative;
  left: 417px;
  top: -152px;
  font-size: 15px;
}

.body-6 {
  background-image: url('../images/Asset_94x.png');
  background-position: 46px -45px;
  background-size: 60%;
  background-attachment: fixed;
}

.button-15 {
  float: right;
  text-align: center;
}

.button-16 {
  float: right;
  clear: right;
}

.submit-button-10 {
  position: relative;
  left: -40px;
  display: block;
  float: right;
  clear: left;
}

.submit-button-11 {
  float: right;
  clear: both;
}

.paragraph-22 {
  position: relative;
  left: 243px;
  top: -2px;
  bottom: 7px;
  display: block;
  margin-top: 9px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 50%, .27), hsla(0, 0%, 50%, .27));
  background-image: linear-gradient(180deg, hsla(0, 0%, 50%, .27), hsla(0, 0%, 50%, .27));
}

.section-13 {
  margin-right: 23%;
  margin-left: 23%;
}

.field-label-10 {
  margin-left: -52%;
}

.field-label-11 {
  margin-left: -52%;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 200;
}

.field-label-12 {
  display: inline-block;
  margin-top: 65px;
  margin-left: -52%;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.field-label-13 {
  position: relative;
  left: 5px;
  top: 0px;
  display: inline-block;
  overflow: hidden;
  width: 20%;
  margin-top: 1px;
  margin-left: 108%;
  float: none;
  clear: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.submit-button-12 {
  display: block;
  float: right;
}

.field-label-14 {
  width: 35%;
  margin-top: -5.8%;
  margin-left: 82%;
  font-weight: 400;
}

.navbar-8 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.navbar-9 {
  width: 100%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.dropdown-toggle {
  border: 4px none #000;
}

.container-10 {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  background-image: -webkit-linear-gradient(270deg, #d70603, #d70603);
  background-image: linear-gradient(180deg, #d70603, #d70603);
  font-size: 18px;
}

.navbar-10 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.section-14 {
  margin-right: 17%;
  margin-left: 3%;
  padding-left: 0px;
}

.image-14 {
  width: 70%;
  height: 100%;
  margin-left: 31px;
  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(0, 0%, 50%, .28);
}

.heading-9 {
  font-size: 15px;
  font-weight: 400;
}

.heading-10 {
  text-decoration: none;
}

.text-block-7 {
  color: #fff;
}

.icon {
  color: #fff;
}

.dropdown-list {
  background-image: -webkit-linear-gradient(270deg, #d70603, #d70603);
  background-image: linear-gradient(180deg, #d70603, #d70603);
}

.dropdown-link {
  color: #fff;
}

.paragraph-23 {
  width: 70%;
  margin-left: 10%;
  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(0, 0%, 50%, .28);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
}

.paragraph-23.paragraph25 {
  margin-left: 9%;
  font-weight: 700;
}

.body-7 {
  text-align: left;
}

.row-5 {
  margin-top: 7%;
  margin-right: 8%;
  margin-left: 19%;
}

.paragraph-24 {
  width: 70%;
  margin-left: 12%;
  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(0, 0%, 50%, .57);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
}

.paragraph-24.paragraph-25 {
  margin-left: 5%;
}

.navbar-11 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.section-15 {
  margin-right: 4%;
  margin-left: 4%;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.heading-11 {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 50%, .17);
}

.paragraph-26 {
  font-weight: 300;
}

.field-label-15 {
  font-weight: 300;
}

.submit-button-13 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.button-17 {
  text-align: center;
}

.row-6 {
  margin-top: 2%;
}

.paragraph-27 {
  width: 25%;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 50%, .56), hsla(0, 0%, 50%, .56));
  background-image: linear-gradient(180deg, hsla(0, 0%, 50%, .56), hsla(0, 0%, 50%, .56));
  text-align: center;
}

.submit-button-14 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.image-15 {
  margin-top: 12%;
  margin-left: 16%;
}

.image-16 {
  margin-top: 8%;
  margin-left: 15%;
}

.field-label-16 {
  margin-left: 49%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.field-label-17 {
  width: 40%;
  margin-top: -25px;
  margin-left: 82%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.field-label-18 {
  margin-top: -22px;
  margin-left: -53%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.field-label-19 {
  margin-left: -53%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.field-label-20 {
  margin-top: -28px;
  margin-left: 66%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.field-label-21 {
  margin-top: -6%;
  margin-left: 81%;
  padding-top: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.image-17 {
  margin-top: 9%;
  margin-bottom: 1px;
  margin-left: 8%;
  border-style: none;
  border-width: 0.5px;
  border-color: hsla(0, 0%, 50%, .28);
}

.navbar-12 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-12 {
  color: #fff;
  font-weight: 500;
}

.submit-button-15 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading-13 {
  color: #000;
}

.section-16 {
  margin-right: 5%;
  margin-left: 5%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.submit-button-16 {
  float: right;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #000;
}

.form-block-3 {
  margin-top: 20px;
  float: right;
}

.text-field-9 {
  width: 100%;
  height: 100%;
}

.field-label-22 {
  display: block;
  width: 20%;
  height: 20%;
  margin-top: -11%;
  margin-left: 16%;
  padding-top: 0px;
  float: none;
  clear: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.text-field-10 {
  width: 11.5%;
  height: 15%;
  border-style: solid;
  border-color: #fff #fff hsla(0, 0%, 50%, .39);
  border-bottom-width: 1px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.text-field-10.seatpicker {
  width: 60%;
}

.text-field-11 {
  width: 30%;
  height: 32%;
  margin-left: 16%;
  border: 1px solid #fff;
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

.image-18 {
  display: block;
  width: 70%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.section-17 {
  background-image: -webkit-linear-gradient(270deg, #990a0a, #990a0a);
  background-image: linear-gradient(180deg, #990a0a, #990a0a);
}

.submit-button-17 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-19 {
  margin-left: 2%;
}

.image-20 {
  margin-left: 10%;
}

.image-21 {
  margin-top: 6%;
  margin-left: 18%;
}

.image-22 {
  margin-left: 6%;
}

.image-23 {
  margin-left: 15%;
}

.submit-button-18 {
  width: 60%;
}

